* {
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}
.color1{
    color: #cdb4db;
}
.color2{
    color: #ffb4a2;
}
.color3{
    color: #c0fdff;
}
.color4{ 
    color: #7b2cbf;
}
body {
    background-image: url(https://i.pinimg.com/236x/f3/49/16/f34916e6a03838b5d2df0a7aeab9a28c.jpg);
    background-repeat:repeat; 
}
/* index */
.comienzo{
    display: block;
    padding: 10px;
    margin: 15px;
    border: 2px solid black;
    background-color: #c0fdff;
}
.comienzo p{
    color:#7b2cbf;
    font-size: 30px;
}
/*barra de nav*/
.cabeza{
    font-style: italic;
    font-size: 3rem;
}
.bg-rosado{
    background-color: #c0fdff;
}
nav * a:hover{
    background: #7b2cbf;
}
/* index */
.conocimiento{
    display: block;
    background-color: #c0fdff;
    padding: 10px;
    margin: 15px;
    border: 2px solid black;
}
.conocimiento p{
    color: #7b2cbf;
    font-size: 30px;
}
.ubicacion{
    display: block;
    background-color: #c0fdff;
    padding: 15px;
    margin: 15px;
    border: 2px solid black;
}
.ubicacion p{
    color: #7b2cbf;
    font-size: 30px;
}
h1{
    display: block;
    background-color: #c0fdff;
    color: #ffb4a2;
    font-size: 50px;
    text-align: center;  
}
/* carta */
.tarjetaTitulo{
    font-size: 32px;
}
.tarjeta{
    display: flex;
    align-items: stretch;
    justify-content:space-evenly ;
}
h2{
    color: #ffb4a2;
    font-size: 38px;
    text-align: center;
    word-spacing: 20px;
}
p{
    color: #7b2cbf;
    font-size: 20px;
    font-family: serif;
    line-height: 30px;
    border-radius: 20px;
}
.parrafo1{
    color: firebrick;

}
h3{
    color: #ffb4a2;
    font-size: 40px;
    text-align: center;
    word-spacing: 20px;
}
/* /Galeria/ */
.carousel-inner img{
    margin: auto;
    border: 2px solid black;
}
.paraCliente{
    background-color: #c0fdff;
    color: #ffb4a2;
}
.galeria{
    display: flex;
    margin: 20px;
    border: 2px solid black;
    padding: 15px;
    flex-flow: column nowrap;
    flex: 1;
    background-color: #c0fdff;
    align-items: center;
}
.galeria p{
    color: #ffb4a2;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.espacio{
    padding: 20px;
}
.seccion{
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction:column;
    background-color: #c0fdff;
    width: 200px;
}
.footerTexto p{
    color: #7b2cbf;
}
div i{
    font-size: 2rem;
}
a{
    text-decoration: none;
}
/* contacto */
form{
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    margin: 15px;
    border: 2px solid black;
}
.boton{
    width: 100px;
    background-color: mediumslateblue;
}
.fondo{
    background-color: #c0fdff;
}
